.about {
  display: flex;
  height: 100vh;
  width: 100vw;
  .about-left {
    width: 50%;
    background-image: url('../images/split_left.png');
    .container-about-left {
      display: flex;
      flex-direction: column;
      margin-top: 30%;
      width: 60%;
      margin-inline: auto;
      gap: 22px;

      .about-design {
        padding-top: 4px;
      }

      .about-text-left {
        position: relative;
      }

      .design {
        position: absolute;
        top: 20px;
        left: 130px;
      }

      .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        font-family: $font-poppins;
        padding-top: 22px;
      }

      .about-design {
        display: flex;
        gap: 18px;

        .about-design-text {
          width: 50%;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }

  .about-right {
    width: 50%;
    height: 100%;
    background-image: url('../images/split_right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .circle {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    .like {
      position: absolute;
      bottom: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1318px) {
  .container-about-left {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1172px) {
  .container-about-left {
    margin-left: 22px;
    width: 90%;
    .app {
      scale: 0.9;
      left: 108px;
      top: 9px;
    }
    .design {
      scale: 0.9;
      left: 102px;
      top: 12px;
    }
  }
}

@media screen and (max-width: 1070px) {
  .container-about-left {
    width: 90%;
    left: 106px;
    top: 9px;
  }
}

@media screen and (max-width: 1028px) {
  .about {
    flex-direction: column;
    .about-left {
      width: 100%;
      height: 40%;
      .container-about-left {
        margin-top: 110px;
        margin-left: 21px;
        width: 500px;
        gap: 1px;
        .design {
          top: 12px;
          left: 107px;
        }
      }
    }
    .about-right {
      width: 100%;
      height: calc(100% - 40%);
    }
  }
}

@media screen and (max-width: 526px) {
  .about {
    .about-left {
      height: 50%;
    }
    .about-right {
      height: calc(100% - 50%);
    }
  }
}

@include mobile {
  .about {
    flex-direction: column;
    .about-left {
      width: 100%;
      height: 60%;
      .container-about-left {
        width: 90%;
        margin-top: 25%;
        .about-text-left {
          .app {
            scale: 0.7;
          }
          .design {
            scale: 0.7;
            top: 15px;
            left: 60px;
          }
          .about-design {
            padding-top: auto;
          }
        }
      }
    }
    .about-right {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 408px) {
  .about {
    .about-left {
      // .app {

      // }
      .about-design-text {
        width: 65%;
      }
    }
  }
}
