.app-design {
  display: flex;
  position: relative;
  .app-design-left {
    width: 50%;
    background-image: url('../images/split_left.png');
  }
  .app-design-right {
    width: 50%;
    background-image: url('../images/app-design/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/app-design/fill-bg.png');
      z-index: 1;
    }
  }
  .container {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  .top {
    top: 0;
    left: 0;
  }
  .bottom {
    top: 50%;
    left: 0;
  }
}
