.contact {
  background-image: url('../images/contact/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  &-container {
    max-width: 1361px;
    width: 100%;
    position: relative;
    top: 224px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      @include title;
    }
    > h2 {
      font-weight: $fw-sb;
      margin-top: 30px;
      font-size: 40px;
      text-align: center;
    }
    > p {
      @include font-p;
      max-width: 893px;
      width: 100%;
      text-align: center;
      line-height: 30px;
      margin-top: 29px;
    }
    &-group {
      display: flex;
      margin-top: 59px;
      gap: 52px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 11px;
        border: 1px solid $purple;
        padding: 21px 60px 16px 60px;
        border-radius: 5px;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        p {
          text-align: center;
        }
      }
      .item:hover {
        background-image: linear-gradient(
          to right,
          #25aae1,
          #4481eb,
          #04befe,
          #3f86ed
        );
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
        background-position: 100% 0;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }
    .copy-right {
      @include font-p;
      margin-top: 211px;
    }
    .social-icon {
      display: flex;
      gap: 34px;
      margin-top: 21px;
      > img {
        cursor: pointer;
      }
    }
  }
}

@include mobile {
  .contact-container {
    top: 130px;
    .copy-right {
      margin-top: 60px;
      padding-inline: 5px !important;
    }
    > p {
      width: 95%;
    }
    .contact-container-group {
      margin-top: 45px;
      .item {
        padding: 14px 24px 12px 24px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .contact-container {
    top: 69px;
    &-group {
      gap: 23px;
    }
  }
}

@media screen and (max-width: 320px) {
  .contact-container {
    &-group {
      margin-top: 39px;
    }

    .copy-right {
      margin-top: 21px;
    }
  }
}
