header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  .header-container {
    max-width: 1361px;
    width: 100%;
    height: 92px;
    margin: 0 auto;
  }

  @include extra-desktop {
    .header-container {
      max-width: 1200px;
    }
  }

  @media screen and (max-width: 1232px) {
    .header-container {
      max-width: 1000px;
    }
  }

  @media screen and (max-width: 1064px) {
    .header-container {
      padding-inline: 15px;
    }
  }

  @media screen and (max-width: 425px) {
    .header-container {
      img {
        display: none;
      }
    }
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  align-items: flex-start;
  .list-header-itemLeft {
    font-size: 13px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  .burger {
    width: 34px;
    height: 34px;
    pointer-events: none;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  #nav-burger-circle {
    fill: none;
    stroke: #fff;
  }

  .nav-burger-line {
    fill: #fff;
  }
}

.wrapper-intro {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.home-wrapper {
  width: 80%;
  padding-top: 19%;
  margin: 0 auto;
  position: relative;
  display: flex;
  .home-wrapperLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 39px;
    .text-1 {
      font-size: 21px;
      text-align: center;
      text-transform: uppercase;
      padding-right: 34px;
    }
    .text-2 {
      @include text-transparent;
      text-align: center;
      font-size: 90px;
      text-transform: uppercase;

      > .real {
        font-size: 150px;
        line-height: 0.8;
      }
    }
    .text-3 {
      font-size: 24px;
      text-align: end;
      > span {
        @include text-uppercase(40px, 600);
        letter-spacing: 6px;
        padding-left: 12px;
      }
    }
  }
  .home-wrapperRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 80px;
    position: relative;
    top: 60px;
    .animate-button {
      margin-top: 22px;
    }
  }
  .line {
    // width: 122px;
    height: 122px;
    // transform: rotate(90deg);
    border: 1px solid #fff;
    // position: absolute;
    // top: 410px;
    // left: 50%;
  }
}

.overlay {
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $bg-dark;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay-container {
    width: 80%;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .item {
      font-size: 16px;
      font-family: $font-poppins;
      font-weight: 300;
      line-height: 48px;
      display: inline;
      span {
        padding-left: 40px;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 5px;
        transition: 1s;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
}

.reveal-text {
  animation: reveal 3s forwards;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// @media screen and (max-width: 2048px) {
//   .home-wrapper {
//     padding-top: 30%;
//   }
// }

@media screen and (max-width: 1346px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
    .line {
      display: none;
    }
    .home-wrapperRight {
      width: 550px;
    }
  }
}

@media screen and (max-width: 1048px) {
  .home-wrapper {
    padding-inline: 15px;
  }
}

@media screen and (max-width: 999px) {
  .home-wrapper {
    align-items: end;
  }
}

@media screen and (max-width: 774px) {
  .home-wrapper {
    gap: 0;
    flex-direction: column;
    align-items: center;
    .home-wrapperLeft {
      width: 100%;
      .text-3 {
        text-align: center;
      }
    }
    // .line {
    //   display: none;
    // }
    .home-wrapperRight {
      padding-left: 0;
      // width: 60%;
      padding-top: 7px;
      position: relative;
      top: 90px;
    }
  }
}

@media screen and (max-width: 731px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        scale: 0.6;
      }
    }
    .home-wrapperRight {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 587px) {
  .home-wrapper {
    width: 90%;
    .home-wrapperLeft {
      img {
        position: relative;
        left: 60px;
      }
    }
    .home-wrapperRight {
      padding-inline: 15px;
      width: 450px;
    }
  }
}

@media screen and (max-width: 487px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        left: 103px;
      }
    }
  }
}

@media screen and (max-width: 439px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        left: 145px;
      }
    }
    .home-wrapperRight {
      width: 370px;
    }
  }
}

@media screen and (max-width: 399px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        scale: 0.5;
        left: 149px;
      }
    }
  }
}

@media screen and (max-width: 361px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        left: 169px;
        top: 60px;
      }
    }
  }
}
@media screen and (max-width: 345px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        left: 185px;
        top: 120px;
      }
    }
    .home-wrapperRight {
      width: 294px;
    }
  }
}
@media screen and (max-width: 321px) {
  .home-wrapper {
    .home-wrapperLeft {
      img {
        scale: 0.4;
      }
    }
  }
}
// @include mobile {
//   .home-wrapper {
//     flex-direction: column;
//     // gap: 12px;
//     .home-wrapperRight {
//       width: 95%;
//       padding-top: 8px;
//     }
//   }
// }

// @include small-mobile {
//   .home-wrapper {
//     padding-top: 25%;
//     width: 95%;
//     gap: 0;
//     .line {
//       display: none;
//     }
//     .home-wrapperLeft {
//       gap: 8px;
//       .text-2 {
//         font-size: 80px;
//         > .real {
//           font-size: 110px;
//           line-height: 0.4;
//         }
//       }
//       .text-3 {
//         font-size: 20px;
//         > {
//           span {
//             font-size: 28px;
//           }
//         }
//       }
//     }
//     .home-wrapperRight {
//       padding-top: 4px;
//     }
//   }
// }
