/** styling mobile nav **/
.nav {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: $bg-dark;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}

.nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav li a {
  font-size: 50px;
  line-height: 1.8;
  display: inline-block;
  color: white;
  opacity: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  transform: translateY(-40px);
}
.nav li a:hover {
  letter-spacing: 3px;
  transform: scale(1.08);
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 160px;
  row-gap: 30px;
}
