.mobile-first {
  background-color: $bg-blue;
  position: relative;
  height: 750px;
  &-container {
    padding-top: 136px;
    padding-left: 120px;
    width: 497px;
    z-index: 3;
    position: relative;
    > span {
      background-color: $blue;
      padding: 7px 20px;
      border-radius: 5px;
      @include text-uppercase(12px, 300);
      letter-spacing: 0.3em;
    }
    > h2 {
      margin-top: 5px;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.015em;
      line-height: 60px;
    }
    > p {
      @include font-p;
      margin-top: 5px;
      text-align: left;
    }
    > .available {
      @include text-uppercase(10px, 500);
      letter-spacing: 0.5em;
      line-height: 15px;
      margin-top: 30px;
    }
    .group {
      display: flex;
      gap: 24px;
      margin-top: 24px;
      > .item {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        background-color: $bg-purple;
        border: 1px solid $border;
      }
    }
  }
  > .img {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 1280px) {
    > .img {
      scale: 0.6;
      right: -188px;
      top: 151px;
    }
  }

  @media screen and (max-width: 844px) {
    > .img {
      scale: 0.4;
      right: -287px;
      top: 225px;
    }
  }
  @media screen and (max-width: 580px) {
    &-container {
      padding-left: 46px;
    }
  }
  @media screen and (max-width: 518px) {
    &-container {
      padding-left: 39px;
    }
  }
  @media screen and (max-width: 508px) {
    &-container {
      padding-left: 11px;
      width: 448px;
    }
    > .img {
      scale: 0.3;
      right: -335px;
      top: 262px;
    }
  }
  @media screen and (max-width: 454px) {
    &-container {
      width: 410px;
    }
  }
  @media screen and (max-width: 424px) {
    &-container {
      width: 366px;
    }
  }
  @media screen and (max-width: 366px) {
    &-container {
      width: 277px;
    }
  }
  @media screen and (max-width: 320px) {
    > .img {
      display: none;
    }
    &-container {
      > h2 {
        font-size: 34px;
      }
    }
  }
}
