.screenshot {
  background-color: $bg-dark;
  width: 100%;
  padding-bottom: 136px;
  &-container {
    max-width: 1210px;
    width: 100%;
    padding-top: 95px;
    margin-inline: auto;
    position: relative;
    > h2 {
      @include text-uppercase(40px, 600);
      line-height: 60px;
      letter-spacing: 0.015em;
      text-align: center;
    }
    @media screen and (max-width: 801px) {
      > p {
        padding: 0 10px;
      }
    }
    > p {
      @include font-p;
      line-height: 30px;
      margin: 10px auto 0 auto;
      letter-spacing: 0.03em;
      text-align: center;
      max-width: 793px;
      width: 100%;
    }
    &-list {
      margin-top: 62px;
      width: 97%;
      .slick-slide {
        width: 370px;
        margin-right: 25px;
        > div {
          margin-bottom: 25px;
        }
        img {
          max-width: 370px;
          height: 270px;
          cursor: pointer;
        }
      }
    }
    .arrow-prev {
      position: absolute;
      top: 50%;
      left: -100px;
      cursor: pointer;
      display: none;
    }
    .arrow-next {
      position: absolute;
      top: 50%;
      right: -65px;
      cursor: pointer;
      display: none;
    }
  }

  @media screen and (max-width: 1432px) {
    .arrow-prev {
      left: -46px;
    }
    .arrow-next {
      right: 3px;
    }
  }

  @media screen and (max-width: 1296px) {
    .screenshot-container-list {
      width: 96%;
    }
  }
  @media screen and (max-width: 679px) {
    .screenshot-container-list {
      padding-left: 10px;
    }
  }
}
