.software {
  display: flex;
  position: relative;
  height: 100vh;
  &-left {
    width: 50%;
    height: 100%;
    background-color: $bg-light;
  }
  &-right {
    width: 50%;
    height: 100%;
    background: $bg-dark;
  }

  .content {
    position: absolute;
    max-width: 1361px;
    width: 100%;
    top: 230px;
    margin: 0 auto;
    right: 0;
    left: 0;
    .service {
      position: absolute;
      top: -46px;
    }
    .light {
      font-size: 140px;
      line-height: 0.6;
      @include text-uppercase(140px, 800);
    }
    .dark {
      font-size: 160px;
      line-height: 0.6;
      @include text-transparent;
      margin-left: 197px;
      @include text-uppercase(160px, 800);
    }
    p {
      margin-left: 204px;
      margin-top: 16px;
      font-size: 16px;
      font-weight: 400;
      width: 586px;
      line-height: 30px;
    }
    .image {
      width: 420px;
      height: 420px;
      position: absolute;
      right: 40px;
      top: 160px;
    }

    @include extra-desktop {
      .image {
        width: 300px;
        height: 300px;
        right: 200px;
      }
      .dark {
        line-height: 0.7;
        margin-left: 180px;
        font-size: 150px;
      }
      .light {
        font-size: 130px;
      }
    }

    @include large-desktop {
      .light {
        font-size: 120px;
      }
      .dark {
        font-size: 100px;
      }
    }

    @media screen and (max-width: 1250px) {
      p {
        margin-left: 120px;
      }
    }

    @include desktop {
      .light {
        margin-left: 30px;
        font-size: 120px;
      }
      .dark {
        font-size: 100px;
        margin-left: 110px;
      }
      p {
        width: 420px;
        font-size: 14px;
      }
      .image {
        right: 110px;
      }
    }

    @include tablet {
      p {
        line-height: 24px;
        width: 410px;
      }
    }

    @media screen and (max-width: 942px) {
      .light {
        font-size: 100px;
      }
      .dark {
        font-size: 80px;
        margin-left: 130px;
      }
      .image {
        top: 120px;
      }
      p {
        margin-left: 100px;
      }
    }

    @include extra-mobile {
      .light {
        font-size: 50px;
        margin-left: 20px;
      }
      .dark {
        font-size: 30px;
        margin-left: 80px;
      }
    }

    @include mobile {
      .dark {
        margin-left: 20px;
      }

      p {
        margin-left: 20px;
        width: 320px;
        margin-top: 18px;
      }

      .image {
        scale: 0.5;
        right: 0px;
        top: 160px;
      }
    }
  }

  @include desktop {
    .service {
      left: 30px;
    }
  }

  @include extra-mobile {
    .service {
      left: 21px;
    }
  }
}
