.theme-detail {
  width: 100%;
  background-image: url('../images/background-theme.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: rgb(2, 21, 55);
  padding-bottom: 60px;
  .container-line {
    padding-top: 151px;
    margin-inline: auto;
    max-width: 1360px;
    width: 100%;
    .line {
      border: 1px solid $line;
    }
  }
  > .btn-theme {
    margin: 107px auto 0 auto;
    gap: 20px;
  }
  > h2 {
    font-weight: 600;
    font-size: 42px;
    margin-top: 37px;
    text-align: center;
  }
  > p {
    margin: 18px auto 0 auto;
    @include font-p;
    max-width: 893px;
    width: 100%;
    text-align: center;
  }
  .theme-detail-slider {
    max-width: 1358px;
    width: 100%;
    margin: 63px auto 0 auto;
    > img {
      width: auto;
      height: 416px;
    }
    .theme-detail-slick .slick-slide {
      transform: scale(0.8);
      transition: all 0.4s ease-in-out;
      padding: 40px 0;
      height: 100%;
    }

    .slick-slide img {
      max-width: 100%;
      transition: all 0.4s ease-in-out;
    }

    .slick-center {
      transform: scale(1.15);
    }

    .carousel-slide {
      height: 100vh;
    }
  }

  .container-contact {
    max-width: 893px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .price {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      display: block;
      margin-top: 67px;
    }

    > .btn-contact {
      background-color: $blue;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      padding: 20px 60px;
      margin: 30px auto 0 auto;
      color: $white;
      transition: all 1s ease;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          transparent,
          rgba(48, 120, 214, 0.9),
          transparent
        );
        transition: all linear 0.5s;
      }
      &:hover {
        background-color: #fff;
        color: $blue;
      }
      &:hover::before {
        left: 100%;
      }
    }

    > p {
      @include font-p;
      margin-top: 55px;
      text-align: center;
      line-height: 30px;
    }
  }

  .group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 68px;
    column-gap: 50px;
    max-width: 1358px;
    width: 100%;
    margin: 71px auto 0 auto;
    > .item {
      width: 262px;
      height: 80px;
      display: flex;
      gap: 12px;
      > img {
        width: 26px;
        height: 26px;
      }
      > .text {
        display: flex;
        flex-direction: column;
        gap: 6px;
        > .title {
          @include text-uppercase(12px, 400);
          color: $text-blue;
          letter-spacing: 2px;
        }
        > .content {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.015em;
        }
      }
    }
  }
}

@media screen and (max-width: 1378px) {
  .theme-detail {
    .group {
      padding-inline: 15px;
    }
  }
}

@media screen and (max-width: 1220px) {
  .theme-detail {
    .group {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1128px) {
  .theme-detail {
    > h2 {
      padding-inline: 15px;
    }
    > p {
      padding-inline: 15px;
    }
  }
}

@media screen and (max-width: 914px) {
  .theme-detail {
    .group {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 604px) {
  .theme-detail {
    .group {
      column-gap: 24px;
    }
    .container-contact {
      > p {
        padding-inline: 15px;
      }
    }
  }
}

@media screen and (max-width: 572px) {
  .theme-detail {
    .group {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      row-gap: 27px;
    }
  }
}

@media screen and (max-width: 401px) {
  .theme-detail {
    .container-contact {
      .btn-contact {
        padding: 10px 30px;
      }
    }
  }
}

@media screen and (max-width: 334px) {
  .theme-detail {
    .container-contact {
      .btn-contact {
        font-size: 15px;
      }
      > p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .theme-detail {
    .container-contact {
      .btn-contact {
        font-size: 14px;
      }
    }
  }
}
