.theme_design {
  position: relative;
  background-image: url('../images/theme_design/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  .fill {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .content {
    position: absolute;
    max-width: 1361px;
    width: 100%;
    top: 230px;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: end;
    .light {
      @include text-uppercase(90px, 800);
    }
    .dark {
      @include text-uppercase(120px, 800);
      @include text-transparent;
      position: relative;
      top: 90px;
      left: -195px;
    }

    @media screen and (max-width: 1040px) {
      .dark {
        left: 53px;
        top: -72px;
      }

      .animate-button {
        // position: relative;
        // top: -122px;
      }
    }

    @media screen and (max-width: 508px) {
      > div {
        scale: 0.6;
        position: relative;
        left: -75px;
        top: -157px;
      }
    }

    @media screen and (max-width: 320px) {
      > div {
        left: -84px;
      }
    }
  }
  .container-theme-slick {
    position: absolute;
    top: 502px;
    left: 430px;
    .theme-list {
      display: flex;
      flex-direction: row;
      gap: 23px;
      .list-item {
        display: flex !important;
        flex-direction: column !important;
        width: 369px;
        height: 369px;
        .image {
          width: 369px;
          height: 250px;
        }
        .theme-device {
          @include text-uppercase(12px, 300);
          color: $text-light;
          margin-top: 24px;
        }
        .theme-title {
          font-weight: 400;
          margin-top: 5px;
        }
        .price {
          margin-top: 15px;
          color: $white;
          font-weight: 700;
        }
      }

      .swiper-container {
        width: 600px;
        height: 300px;
      }
      // .slick-initialized .slick-slide {
      //   margin: 0 10px;
      // }

      .slick-slide {
        width: 369px;
        height: 420px;
        box-sizing: border-box;
        margin-right: 23px;
      }
    }

    .prev {
      position: absolute;
      top: 25%;
      left: -20px;
    }
    .next {
      position: absolute;
      top: 25%;
      left: 1150px;
    }
  }
}

@media screen and (max-width: 1633px) {
  .theme_design {
    .container-theme-slick {
      left: 318px;
      .next {
        left: 749px;
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .theme_design {
    .container-theme-slick {
      left: 179px;
    }
  }
}

@media screen and (max-width: 1064px) {
  .theme_design {
    .content {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: 1044px) {
  .theme_design {
    .content {
      top: 119px;
      .dark {
        top: 103px;
        left: -193px;
      }
    }
  }
}

@media screen and (max-width: 974px) {
  .theme_design {
    .container-theme-slick {
      .next {
        left: 360px;
      }
    }
  }
}

@media screen and (max-width: 832px) {
  .theme_design {
    .content {
      .dark {
        top: -73px;
        left: 169px;
      }
    }
  }
}

@media screen and (max-width: 628px) {
  .theme_design {
    .content {
      gap: 25px;
      .light {
        font-size: 60px;
      }
      .dark {
        font-size: 60px;
        top: 53px;
        left: -129px;
      }
    }
    .container-theme-slick {
      top: 444px;
    }
  }
}

@media screen and (max-width: 586px) {
  .theme_design {
    .container-theme-slick {
      left: 78px;
    }
  }
}

@media screen and (max-width: 508px) {
  .theme_design {
    .content {
      height: 300px;
      gap: 0;
      > div {
        height: 300px;
      }
      .light {
        position: relative;
        top: 200px;
      }
      .dark {
        top: 253px;
      }
    }
  }
}

@media screen and (max-width: 488px) {
  .theme_design {
    .content {
      > div {
        width: 500px;
      }
    }
    .container-theme-slick {
      left: 10px;
    }
  }
}

@media screen and (max-width: 413px) {
  .theme-design {
    .container-theme-slick {
      .theme-list {
        .list-item {
          margin-right: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 402px) {
  .theme_design {
    .container-theme-slick {
      .theme-list {
        .list-item {
          scale: 0.8;
        }
      }
      .prev {
        left: 17px;
      }
      .next {
        left: 310px;
      }
    }
  }
}

@media screen and (max-width: 366px) {
  .theme-design {
    .container-theme-slick {
      left: -10px;
    }
  }
}
