.theme_design {
  position: relative;
  background-image: url('../images/theme_design/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  .fill {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .content {
    position: absolute;
    max-width: 1361px;
    width: 100%;
    top: 230px;
    margin: 0 auto;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    .light {
      @include text-uppercase(90px, 800);
    }
    .dark {
      @include text-uppercase(120px, 800);
      @include text-transparent;
      position: relative;
      top: 90px;
      left: -195px;
    }
  }

  .theme-list {
    position: absolute;
    top: 502px;
    display: flex;
    flex-direction: row;
    gap: 23px;
    left: 430px;
    .list-item {
      display: flex !important;
      flex-direction: column !important;
      width: 369px;
      height: 369px;
      .image {
        width: 369px;
        height: 250px;
      }
      .theme-device {
        @include text-uppercase(12px, 300);
        color: $text-light;
        margin-top: 24px;
      }
      .theme-title {
        font-weight: 400;
        margin-top: 5px;
      }
      .price {
        margin-top: 15px;
        color: $white;
        font-weight: 700;
      }
    }

    .swiper-container {
      width: 600px;
      height: 300px;
    }
    // .slick-initialized .slick-slide {
    //   margin: 0 10px;
    // }

    .slick-slide {
      width: 369px;
      height: 420px;
      box-sizing: border-box;
      margin-right: 23px;
    }
  }
}
