$font-poppins: 'Poppins', sans-serif;

$fw-t: 100;
$fw-el: 200;
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-sb: 600;
$fw-b: 700;
$fw-eb: 800;
$fw-bl: 900;

$white: #fff;
$text-dark: #001c43;
$bg-dark: #050b25;
