.web-design {
  background-color: $bg-dark;
  position: relative;
  height: 100vh;
  .container-image {
    width: 60%;
    height: 80%;
    position: absolute;
    left: 0;
    bottom: 0;

    .line {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .plan {
      position: absolute;
      bottom: 8%;
      left: 281px;
    }

    .book {
      position: absolute;
      left: 551px;
      bottom: 140px;
    }
  }
  .container-text {
    position: relative;
    top: 30%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 55%;
    gap: 23px;
    .text-image {
      // position: relative;
      .design {
        position: absolute;
        top: 20px;
        left: 245px;
      }

      .web {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .text {
      text-align: end;
      margin-top: 150px;
      margin-right: 200px;
      font-size: 24px;
      padding-right: 12px;
      span {
        font-size: 40px;
        font-weight: 600;
        line-height: 60px;
      }
    }

    p {
      font-family: $font-poppins;
      font-size: 14px;
      font-weight: 400;
      width: 494px;
      text-align: right;
    }
  }

  @include extra-desktop {
    .container-image {
      .plan {
        left: 80px;
      }

      .book {
        left: 300px;
      }
    }

    .container-text {
      left: 25%;
    }
  }

  @media screen and (max-width: 1220px) {
    .container-text {
      top: 20%;
      .text-image {
        .web {
          left: -160px;
        }
        .design {
          left: 85px;
        }
      }
    }
    .container-image {
      .plan {
        scale: 0.7;
        bottom: 20px;
        left: -30px;
      }
      .book {
        scale: 0.8;
        left: 210px;
        bottom: 120px;
      }
    }
  }

  @include tablet {
    .container-text {
      width: 60%;
    }
    .container-image {
      .plan {
        bottom: -10px;
      }
    }
  }

  @media screen and (max-width: 963px) {
    .container-text {
      gap: 14px;
      .text {
        margin-right: auto;
      }

      .text-image {
        .web {
          scale: 0.7;
          left: -152px;
        }
        .design {
          top: 7px;
          scale: 0.7;
          left: -27px;
        }
      }
    }
  }

  @media screen and (max-width: 695px) {
    .container-text {
      .text-image {
        .web {
          left: -199px;
        }

        .design {
          left: -75px;
        }
      }
    }
  }
}
