@charset "UTF-8";
header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
}
header .header-container {
  max-width: 1361px;
  width: 100%;
  height: 92px;
  margin: 0 auto;
}
@media (max-width: 1440.98px) {
  header .header-container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1232px) {
  header .header-container {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1064px) {
  header .header-container {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 425px) {
  header .header-container img {
    display: none;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  align-items: flex-start;
}
.list-header .list-header-itemLeft {
  font-size: 13px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.list-header .list-header-itemRight {
  font-size: 13px;
}
.list-header .burger {
  width: 34px;
  height: 34px;
  pointer-events: none;
}
.list-header svg {
  width: 100%;
  height: 100%;
}
.list-header #nav-burger-circle {
  fill: none;
  stroke: #fff;
}
.list-header .nav-burger-line {
  fill: #fff;
}

.wrapper-intro {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.home-wrapper {
  width: 80%;
  padding-top: 19%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.home-wrapper .home-wrapperLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  gap: 39px;
}
.home-wrapper .home-wrapperLeft .text-1 {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 34px;
}
.home-wrapper .home-wrapperLeft .text-2 {
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
}
.home-wrapper .home-wrapperLeft .text-2 > .real {
  font-size: 150px;
  line-height: 0.8;
}
.home-wrapper .home-wrapperLeft .text-3 {
  font-size: 24px;
  text-align: end;
}
.home-wrapper .home-wrapperLeft .text-3 > span {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-left: 12px;
}
.home-wrapper .home-wrapperRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 80px;
  position: relative;
  top: 60px;
}
.home-wrapper .home-wrapperRight .animate-button {
  margin-top: 22px;
}
.home-wrapper .line {
  height: 122px;
  border: 1px solid #fff;
}

.overlay {
  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #050b25;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .overlay-container {
  width: 80%;
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.overlay .overlay-container .item {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 48px;
  display: inline;
}
.overlay .overlay-container .item span {
  padding-left: 40px;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 1s;
  cursor: pointer;
}
.overlay .overlay-container .item span:hover {
  color: red;
}

.reveal-text {
  animation: reveal 3s forwards;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media screen and (max-width: 1346px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .home-wrapper .line {
    display: none;
  }
  .home-wrapper .home-wrapperRight {
    width: 550px;
  }
}
@media screen and (max-width: 1048px) {
  .home-wrapper {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 999px) {
  .home-wrapper {
    align-items: end;
  }
}
@media screen and (max-width: 774px) {
  .home-wrapper {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }
  .home-wrapper .home-wrapperLeft {
    width: 100%;
  }
  .home-wrapper .home-wrapperLeft .text-3 {
    text-align: center;
  }
  .home-wrapper .home-wrapperRight {
    padding-left: 0;
    padding-top: 7px;
    position: relative;
    top: 90px;
  }
}
@media screen and (max-width: 731px) {
  .home-wrapper .home-wrapperLeft img {
    scale: 0.6;
  }
  .home-wrapper .home-wrapperRight {
    padding-top: 0;
  }
}
@media screen and (max-width: 587px) {
  .home-wrapper {
    width: 90%;
  }
  .home-wrapper .home-wrapperLeft img {
    position: relative;
    left: 60px;
  }
  .home-wrapper .home-wrapperRight {
    padding-inline: 15px;
    width: 450px;
  }
}
@media screen and (max-width: 487px) {
  .home-wrapper .home-wrapperLeft img {
    left: 103px;
  }
}
@media screen and (max-width: 439px) {
  .home-wrapper .home-wrapperLeft img {
    left: 145px;
  }
  .home-wrapper .home-wrapperRight {
    width: 370px;
  }
}
@media screen and (max-width: 399px) {
  .home-wrapper .home-wrapperLeft img {
    scale: 0.5;
    left: 149px;
  }
}
@media screen and (max-width: 361px) {
  .home-wrapper .home-wrapperLeft img {
    left: 169px;
    top: 60px;
  }
}
@media screen and (max-width: 345px) {
  .home-wrapper .home-wrapperLeft img {
    left: 185px;
    top: 120px;
  }
  .home-wrapper .home-wrapperRight {
    width: 294px;
  }
}
@media screen and (max-width: 321px) {
  .home-wrapper .home-wrapperLeft img {
    scale: 0.4;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: scroll;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

.btn-theme {
  width: 228px;
  height: 48px;
  text-transform: uppercase;
  border-radius: 3px 30px 3px 30px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-theme:hover {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-color: transparent; /* Tùy chọn: Nếu bạn muốn loại bỏ đường viền khi hover */
}

.split-child {
  display: inline-block;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

.popup--open {
  background-color: #050b25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  padding: 38px 73px 140px 144px;
}
.popup--open .popup__hide {
  display: block;
}
.popup__hide {
  display: none;
}
.popup__content {
  color: var(--white);
  position: relative;
  z-index: 10;
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 8;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  list-style-type: none;
  padding: 0;
}
ul.transition li {
  transform: scaleY(0);
  background-color: var(--black);
  width: 20%;
}

a {
  text-decoration: none;
}

.revealUp {
  opacity: 0;
  visibility: hidden;
}

.animate-button {
  width: 228px;
  height: 48px;
  position: relative;
  display: block;
  border: 1px solid #fff;
  border-radius: 3px 30px 3px 30px;
  /* padding-block: var(--p-block);
  padding-inline: var(--p-inline); */
  padding: 15px 35px 15px 35px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.45s cubic-bezier(0.32, 0, 0.67, 0);
  background-color: transparent;
}
.animate-button .text-wrapper {
  height: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}
.animate-button .text {
  height: fit-content;
  font-size: 12px;
  transition: transform 0.45s cubic-bezier(0.32, 0, 0.67, 0);
  line-height: 1;
  padding-bottom: 6px;
  letter-spacing: 0.5em;
}
.animate-button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  clip-path: circle(0% at 50% 120%);
  transition: clip-path 1s ease;
  z-index: 1;
}
.animate-button:hover .text {
  transform: translateY(calc((100% + 12px) * -1));
}
.animate-button:hover .overlay {
  clip-path: circle(100% at 50% 100%);
}

.current-page {
  min-width: 380px;
  position: fixed;
  bottom: 249px;
  left: -130px;
  z-index: 5;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  gap: 23px;
}
.current-page .page {
  display: flex;
  gap: 6px;
}
.current-page .page .current {
  color: #0096ff;
}
.current-page .page .total {
  color: #6766cc;
}
.current-page .name {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0096ff;
  letter-spacing: 0.3em;
}

@media screen and (max-width: 768px) {
  .current-page {
    left: -132px;
  }
}
.service {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  background-color: #0096ff;
  border-radius: 3px;
  padding: 4px 10px 4px 10px;
}

/** styling mobile nav **/
.nav {
  z-index: 5;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #050b25;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}
.nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav li a {
  font-size: 16px;
  line-height: 1.8;
  display: inline-block;
  color: white;
  opacity: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.3s ease;
  transform: translateY(-40px);
}
.nav li a > span {
  font-size: 32px;
  padding-left: 38px;
}
.nav li a > span:hover {
  letter-spacing: 3px;
  transform: scale(1.2);
  text-decoration: underline;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 160px;
  row-gap: 30px;
}
@media screen and (max-width: 1288px) {
  .nav ul {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 768px) {
  .nav ul {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }
}
@media screen and (max-width: 425px) {
  .nav li a > span {
    font-size: 24px;
    padding-left: 15px;
  }
}

.about {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.about .about-left {
  width: 50%;
  background-image: url("../images/split_left.png");
}
.about .about-left .container-about-left {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  width: 60%;
  margin-inline: auto;
  gap: 22px;
}
.about .about-left .container-about-left .about-design {
  padding-top: 4px;
}
.about .about-left .container-about-left .about-text-left {
  position: relative;
}
.about .about-left .container-about-left .design {
  position: absolute;
  top: 20px;
  left: 130px;
}
.about .about-left .container-about-left .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
}
.about .about-left .container-about-left .about-design {
  display: flex;
  gap: 18px;
}
.about .about-left .container-about-left .about-design .about-design-text {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.about .about-right {
  width: 50%;
  height: 100%;
  background-image: url("../images/split_right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about .about-right .circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.about .about-right .like {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1318px) {
  .container-about-left {
    margin-left: 60px;
  }
}
@media screen and (max-width: 1172px) {
  .container-about-left {
    margin-left: 22px;
    width: 90%;
  }
  .container-about-left .app {
    scale: 0.9;
    left: 108px;
    top: 9px;
  }
  .container-about-left .design {
    scale: 0.9;
    left: 102px;
    top: 12px;
  }
}
@media screen and (max-width: 1070px) {
  .container-about-left {
    width: 90%;
    left: 106px;
    top: 9px;
  }
}
@media screen and (max-width: 1028px) {
  .about {
    flex-direction: column;
  }
  .about .about-left {
    width: 100%;
    height: 40%;
  }
  .about .about-left .container-about-left {
    margin-top: 110px;
    margin-left: 21px;
    width: 500px;
    gap: 1px;
  }
  .about .about-left .container-about-left .design {
    top: 12px;
    left: 107px;
  }
  .about .about-right {
    width: 100%;
    height: 60%;
  }
}
@media screen and (max-width: 526px) {
  .about .about-left {
    height: 50%;
  }
  .about .about-right {
    height: 50%;
  }
}
@media only screen and (max-width: 480.98px) {
  .about {
    flex-direction: column;
  }
  .about .about-left {
    width: 100%;
    height: 60%;
  }
  .about .about-left .container-about-left {
    width: 90%;
    margin-top: 25%;
  }
  .about .about-left .container-about-left .about-text-left .app {
    scale: 0.7;
  }
  .about .about-left .container-about-left .about-text-left .design {
    scale: 0.7;
    top: 15px;
    left: 60px;
  }
  .about .about-left .container-about-left .about-text-left .about-design {
    padding-top: auto;
  }
  .about .about-right {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 408px) {
  .about .about-left .container-about-left .about-text-left {
    left: -19px;
  }
  .about .about-left .about-design-text {
    width: 65%;
  }
}
@media screen and (max-width: 391px) {
  .about .about-left .container-about-left .app {
    scale: 0.6;
  }
  .about .about-left .container-about-left .design {
    scale: 0.6;
  }
}
.reveal-about {
  color: rgba(0, 0, 0, 0);
  --g: no-repeat linear-gradient(#fff 0 0) 0 0;
  background: var(--g), var(--g);
  background-size: 0 100%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: revealText 1200ms ease-out;
  animation: t 2s 0.5s both, b 2s 1.3s both;
}

@keyframes t {
  to {
    background-size: 150% 100%;
  }
}
@keyframes b {
  to {
    background-position: -350% 0, 0 0;
  }
}
.about-text-left {
  display: block;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes revealText {
  80% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
@keyframes showText {
  to {
    color: #1d3557;
  }
}
.web-design {
  background-color: #050b25;
  position: relative;
  height: 100vh;
}
.web-design .container-image {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.web-design .container-image .line {
  position: absolute;
  bottom: 0;
  left: 0;
}
.web-design .container-image .plan {
  position: absolute;
  bottom: 8%;
  left: 281px;
}
.web-design .container-image .book {
  position: absolute;
  left: 551px;
  bottom: 140px;
}
.web-design .container-text {
  position: relative;
  top: 30%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 55%;
  gap: 23px;
}
.web-design .container-text .text-image .design {
  position: absolute;
  top: 20px;
  left: 245px;
}
.web-design .container-text .text-image .web {
  position: absolute;
  top: 0;
  left: 0;
}
.web-design .container-text .text-image .service {
  position: absolute;
  top: 120px;
  left: 22px;
}
.web-design .container-text .text {
  text-align: end;
  margin-top: 150px;
  margin-right: 200px;
  font-size: 24px;
  padding-right: 12px;
}
.web-design .container-text .text span {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}
.web-design .container-text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 494px;
  text-align: right;
}
@media (max-width: 1440.98px) {
  .web-design .container-image .plan {
    left: 80px;
  }
  .web-design .container-image .book {
    left: 300px;
  }
  .web-design .container-text {
    left: 25%;
  }
}
@media screen and (max-width: 1220px) {
  .web-design .container-text {
    top: 20%;
  }
  .web-design .container-text .text-image .web {
    left: -160px;
  }
  .web-design .container-text .text-image .design {
    left: 85px;
  }
  .web-design .container-text .text-image .service {
    left: -137px;
  }
  .web-design .container-image .plan {
    scale: 0.7;
    bottom: 20px;
    left: -30px;
  }
  .web-design .container-image .book {
    scale: 0.8;
    left: 210px;
    bottom: 120px;
  }
}
@media only screen and (max-width: 991.98px) {
  .web-design .container-text {
    width: 60%;
  }
  .web-design .container-image .plan {
    bottom: -10px;
  }
}
@media screen and (max-width: 963px) {
  .web-design .container-text {
    gap: 14px;
  }
  .web-design .container-text .text {
    margin-right: auto;
  }
  .web-design .container-text .text-image .web {
    scale: 0.7;
    left: -152px;
  }
  .web-design .container-text .text-image .design {
    top: 7px;
    scale: 0.7;
    left: -27px;
  }
  .web-design .container-text .text-image .service {
    top: 103px;
    left: -91px;
  }
}
@media screen and (max-width: 695px) {
  .web-design .container-text {
    padding-left: 3px;
  }
  .web-design .container-text .text-image .web {
    left: -226px;
  }
  .web-design .container-text .text-image .design {
    left: -101px;
  }
  .web-design .container-text .text-image .service {
    top: 100px;
    left: -169px;
  }
}
@media screen and (max-width: 616px) {
  .web-design .container-text .text-image .web {
    scale: 0.5;
    left: -180px;
  }
  .web-design .container-text .text-image .design {
    scale: 0.5;
    left: -135px;
    top: 1px;
  }
  .web-design .container-text .text-image .service {
    top: 89px;
    left: -99px;
  }
  .web-design .container-text .text {
    margin-top: 107px;
  }
  .web-design .container-text > p {
    width: 100%;
  }
}
@media screen and (max-width: 446px) {
  .web-design .container-text {
    width: 70%;
  }
  .web-design .container-text .text-image .web {
    scale: 0.4;
    left: -180px;
  }
  .web-design .container-text .text-image .design {
    scale: 0.4;
    left: -176px;
  }
  .web-design .container-text > p {
    color: white;
  }
}
@media screen and (max-width: 357px) {
  .web-design .container-image .plan {
    bottom: -44px;
    left: -39px;
  }
  .web-design .container-image .book {
    display: none;
  }
}

.app-design {
  display: flex;
  position: relative;
  height: 100vh;
}
.app-design .app-design-left {
  width: 50%;
  background-image: url("../images/split_left.png");
}
.app-design .app-design-right {
  width: 50%;
  background-image: url("../images/app-design/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.app-design .app-design-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/app-design/fill-bg.png");
  z-index: 1;
}
.app-design .app-design-content {
  position: absolute;
  max-width: 1361px;
  width: 100%;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 230px;
}
.app-design .app-design-content .app-design-container {
  position: relative;
  width: 62%;
}
.app-design .app-design-content .app-design-container .service {
  position: absolute;
  left: 0;
  top: 120px;
}
.app-design .app-design-content .app-design-container .app-design-content__text {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.app-design .app-design-content .app-design-container .app-design-content__text > span {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}
.app-design .app-design-content .app-design-container .app-design-content__text > span > span {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 12px;
}
.app-design .app-design-content .app-design-container .app-design-content__text p {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}
.app-design .app-design-content .design {
  position: absolute;
  left: 215px;
  top: 30px;
}
.app-design .app-design-content .design__text {
  margin-top: 160px;
}
@media screen and (max-width: 844px) {
  .app-design .app-design-content .app-design-container {
    width: 520px;
  }
  .app-design .app-design-content .app-design-container .service {
    top: 88px;
    left: 67px;
  }
  .app-design .app-design-content .app {
    scale: 0.5;
  }
  .app-design .app-design-content .design {
    scale: 0.5;
    left: 23px;
    top: 2px;
  }
}
@media screen and (max-width: 536px) {
  .app-design .app-design-content .app {
    position: relative;
    left: -66px;
  }
  .app-design .app-design-content .design {
    left: -43px;
  }
  .app-design .app-design-content .app-design-container .service {
    left: 3px;
  }
  .app-design .app-design-content .app-design-container .app-design-content__text {
    align-items: start;
  }
}
@media screen and (max-width: 446px) {
  .app-design .app-design-content .app-design-container .app-design-content__text {
    padding-inline: 15px;
  }
  .app-design .app-design-content .app-design-container .app-design-content__text > span > span {
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 428px) {
  .app-design .app-design-content .app {
    scale: 0.4;
    left: -82px;
  }
  .app-design .app-design-content .design {
    scale: 0.4;
    top: 4px;
    left: -97px;
  }
  .app-design .app-design-content .app-design-container .service {
    top: 98px;
    left: 3px;
  }
  .app-design .app-design-content .app-design-container .app-design-content__text > span > span {
    padding-left: 0;
    font-size: 9vw;
  }
  .app-design .app-design-content .app-design-container .app-design-content__text p {
    color: white;
    width: 68%;
    font-size: 4vw;
    text-align: left;
  }
}

.software {
  display: flex;
  position: relative;
  height: 100vh;
}
.software-left {
  width: 50%;
  height: 100%;
  background-color: #01142e;
}
.software-right {
  width: 50%;
  height: 100%;
  background: #050b25;
}
.software .content {
  position: absolute;
  max-width: 1361px;
  width: 100%;
  top: 230px;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.software .content .service {
  position: absolute;
  top: -46px;
}
.software .content .light {
  font-size: 140px;
  line-height: 0.6;
  font-size: 140px;
  font-weight: 800;
  text-transform: uppercase;
}
.software .content .dark {
  font-size: 160px;
  line-height: 0.6;
  color: transparent;
  -webkit-text-stroke: 1px white;
  margin-left: 197px;
  font-size: 160px;
  font-weight: 800;
  text-transform: uppercase;
}
.software .content p {
  margin-left: 204px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  width: 586px;
  line-height: 30px;
}
.software .content .image {
  width: 420px;
  height: 420px;
  position: absolute;
  right: 40px;
  top: 160px;
}
@media (max-width: 1440.98px) {
  .software .content .image {
    width: 300px;
    height: 300px;
    right: 200px;
  }
  .software .content .dark {
    line-height: 0.7;
    margin-left: 180px;
    font-size: 150px;
  }
  .software .content .light {
    font-size: 130px;
  }
}
@media only screen and (max-width: 1399.98px) {
  .software .content .light {
    font-size: 120px;
  }
  .software .content .dark {
    font-size: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .software .content p {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .software .content .light {
    margin-left: 30px;
    font-size: 120px;
  }
  .software .content .dark {
    font-size: 100px;
    margin-left: 110px;
  }
  .software .content p {
    width: 420px;
    font-size: 14px;
  }
  .software .content .image {
    right: 110px;
  }
}
@media only screen and (max-width: 991.98px) {
  .software .content p {
    line-height: 24px;
    width: 410px;
  }
}
@media screen and (max-width: 942px) {
  .software .content .light {
    font-size: 100px;
  }
  .software .content .dark {
    font-size: 80px;
    margin-left: 130px;
  }
  .software .content .image {
    top: 120px;
  }
  .software .content p {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 576.98px) {
  .software .content .light {
    font-size: 50px;
    margin-left: 20px;
  }
  .software .content .dark {
    font-size: 30px;
    margin-left: 80px;
  }
}
@media only screen and (max-width: 480.98px) {
  .software .content .dark {
    margin-left: 20px;
  }
  .software .content p {
    margin-left: 20px;
    width: 320px;
    margin-top: 18px;
  }
  .software .content .image {
    scale: 0.5;
    right: 0px;
    top: 160px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .software .service {
    left: 30px;
  }
}
@media only screen and (max-width: 576.98px) {
  .software .service {
    left: 21px;
  }
}

.theme_design {
  position: relative;
  background-image: url("../images/theme_design/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.theme_design .fill {
  position: absolute;
  bottom: 0;
  left: 0;
}
.theme_design .content {
  position: absolute;
  max-width: 1361px;
  width: 100%;
  top: 230px;
  margin: 0 auto;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: end;
}
.theme_design .content .light {
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
}
.theme_design .content .dark {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  top: 90px;
  left: -195px;
}
@media screen and (max-width: 1040px) {
  .theme_design .content .dark {
    left: 53px;
    top: -72px;
  }
}
@media screen and (max-width: 508px) {
  .theme_design .content > div {
    scale: 0.6;
    position: relative;
    left: -75px;
    top: -157px;
  }
}
@media screen and (max-width: 320px) {
  .theme_design .content > div {
    left: -84px;
  }
}
.theme_design .container-theme-slick {
  position: absolute;
  top: 502px;
  left: 430px;
}
.theme_design .container-theme-slick .theme-list {
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.theme_design .container-theme-slick .theme-list .list-item {
  display: flex !important;
  flex-direction: column !important;
  width: 369px;
  height: 369px;
}
.theme_design .container-theme-slick .theme-list .list-item .image {
  width: 369px;
  height: 250px;
}
.theme_design .container-theme-slick .theme-list .list-item .theme-device {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #bbbbf6;
  margin-top: 24px;
}
.theme_design .container-theme-slick .theme-list .list-item .theme-title {
  font-weight: 400;
  margin-top: 5px;
}
.theme_design .container-theme-slick .theme-list .list-item .price {
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
}
.theme_design .container-theme-slick .theme-list .swiper-container {
  width: 600px;
  height: 300px;
}
.theme_design .container-theme-slick .theme-list .slick-slide {
  width: 369px;
  height: 420px;
  box-sizing: border-box;
  margin-right: 23px;
}
.theme_design .container-theme-slick .prev {
  position: absolute;
  top: 25%;
  left: -20px;
}
.theme_design .container-theme-slick .next {
  position: absolute;
  top: 25%;
  left: 1150px;
}

@media screen and (max-width: 1633px) {
  .theme_design .container-theme-slick {
    left: 318px;
  }
  .theme_design .container-theme-slick .next {
    left: 749px;
  }
}
@media screen and (max-width: 1120px) {
  .theme_design .container-theme-slick {
    left: 179px;
  }
}
@media screen and (max-width: 1064px) {
  .theme_design .content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media screen and (max-width: 1044px) {
  .theme_design .content {
    top: 119px;
  }
  .theme_design .content .dark {
    top: 103px;
    left: -193px;
  }
}
@media screen and (max-width: 974px) {
  .theme_design .container-theme-slick .next {
    left: 360px;
  }
}
@media screen and (max-width: 832px) {
  .theme_design .content .dark {
    top: -73px;
    left: 169px;
  }
}
@media screen and (max-width: 628px) {
  .theme_design .content {
    gap: 25px;
  }
  .theme_design .content .light {
    font-size: 60px;
  }
  .theme_design .content .dark {
    font-size: 60px;
    top: 53px;
    left: -129px;
  }
  .theme_design .container-theme-slick {
    top: 444px;
  }
}
@media screen and (max-width: 586px) {
  .theme_design .container-theme-slick {
    left: 78px;
  }
}
@media screen and (max-width: 508px) {
  .theme_design .content {
    height: 300px;
    gap: 0;
  }
  .theme_design .content > div {
    height: 300px;
  }
  .theme_design .content .light {
    position: relative;
    top: 200px;
  }
  .theme_design .content .dark {
    top: 253px;
  }
}
@media screen and (max-width: 488px) {
  .theme_design .content > div {
    width: 500px;
  }
  .theme_design .container-theme-slick {
    left: 10px;
  }
}
@media screen and (max-width: 413px) {
  .theme-design .container-theme-slick .theme-list .list-item {
    margin-right: 32px;
  }
}
@media screen and (max-width: 402px) {
  .theme_design .container-theme-slick .theme-list .list-item {
    scale: 0.8;
  }
  .theme_design .container-theme-slick .prev {
    left: 17px;
  }
  .theme_design .container-theme-slick .next {
    left: 310px;
  }
}
@media screen and (max-width: 366px) {
  .theme-design .container-theme-slick {
    left: -10px;
  }
}
.contact {
  background-image: url("../images/contact/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.contact-container {
  max-width: 1361px;
  width: 100%;
  position: relative;
  top: 224px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container span {
  background-color: #0096ff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 10px;
}
.contact-container > h2 {
  font-weight: 600;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}
.contact-container > p {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  max-width: 893px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-top: 29px;
}
.contact-container-group {
  display: flex;
  margin-top: 59px;
  gap: 52px;
}
.contact-container-group .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  border: 1px solid #98a9ec;
  padding: 21px 60px 16px 60px;
  border-radius: 5px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.contact-container-group .item:hover {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.contact-container .copy-right {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 211px;
}
.contact-container .social-icon {
  display: flex;
  gap: 34px;
  margin-top: 21px;
}
.contact-container .social-icon > img {
  cursor: pointer;
}

@media only screen and (max-width: 480.98px) {
  .contact-container {
    top: 130px;
  }
  .contact-container .copy-right {
    margin-top: 60px;
    padding-inline: 5px !important;
  }
  .contact-container > p {
    width: 95%;
  }
  .contact-container .contact-container-group {
    margin-top: 45px;
  }
  .contact-container .contact-container-group .item {
    padding: 14px 24px 12px 24px;
  }
}
.theme-designing {
  width: 100%;
  background-image: url("../images/background-theme.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: rgb(2, 21, 55);
}
.theme-designing .container-theme {
  padding-top: 151px;
  margin-inline: auto;
  max-width: 1360px;
  width: 100%;
}
.theme-designing .container-theme .line {
  border: 1px solid #133670;
}
.theme-designing .container-theme .content {
  margin-top: 90px;
}
.theme-designing .container-theme .content > .btn-theme {
  justify-content: center;
  width: 158px;
  height: 48px;
  gap: 20px;
}
.theme-designing .container-theme .content > .btn-theme > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.theme-designing .container-theme .content > h2 {
  position: relative;
  left: 330px;
  font-weight: 800;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: -100px;
}
.theme-designing .container-theme .content > h2 > span {
  position: relative;
  font-size: 120px;
  top: 100px;
  left: -340px;
}
.theme-designing .container-theme .content .theme-designing-title {
  position: relative;
  left: 395px;
}
.theme-designing .container-theme .content .theme-designing-title > span {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.theme-designing .container-theme .content .theme-designing-title > p {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  width: 893px;
  padding-top: 19px;
}
.theme-designing-list {
  margin-top: 80px;
  margin-inline: auto;
  max-width: 1353px;
  width: 100%;
  padding-bottom: 110px;
}
.theme-designing-list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.theme-designing-list .item {
  display: none;
  flex-direction: column;
  width: 431px;
}
.theme-designing-list .item > a:hover > img {
  transform: scale(1.01);
}
.theme-designing-list .item > img {
  width: 100%;
  transition: all ease 0.3s;
}
.theme-designing-list .item > .device {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #bbbbf6;
  padding-top: 24px;
}
.theme-designing-list .item > .title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 5px;
  color: white;
  position: relative;
}
.theme-designing-list .item > .title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.theme-designing-list .item > .title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.theme-designing-list .item > .price {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
}
.theme-designing-list #show-more {
  display: flex;
  margin-top: 64px;
  width: 100%;
  gap: 20px;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 35px 20px 35px;
  border: 0.5px solid #fff;
  border-radius: 3px 30px 3px 30px;
  cursor: pointer;
}
.theme-designing-list #show-more > span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 6px;
}
@media screen and (max-width: 1362px) {
  .theme-designing .theme-designing-list-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15px;
  }
}
@media screen and (max-width: 1282px) {
  .theme-designing .container-theme .content > h2 {
    left: 237px;
  }
  .theme-designing .container-theme .content .theme-designing-title {
    left: 299px;
  }
  .theme-designing .container-theme .content .theme-designing-title > p {
    width: 820px;
  }
}
@media screen and (max-width: 1128px) {
  .theme-designing .container-theme .content .theme-designing-title > p {
    width: 632px;
  }
}
@media screen and (max-width: 1094px) {
  .theme-designing .container-theme .content {
    padding-bottom: 80px;
  }
  .theme-designing .container-theme .content > h2 {
    left: 13px;
    top: 1px;
  }
  .theme-designing .container-theme .content > h2 > span {
    left: 57px;
    top: -30px;
  }
  .theme-designing .container-theme .content .theme-designing-title {
    left: 77px;
    top: -29px;
  }
}
@media screen and (max-width: 922px) {
  .theme-designing .theme-designing-list .item {
    max-width: 431px;
    width: 100%;
  }
  .theme-designing .theme-designing-list-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .theme-designing .container-theme .content > h2 {
    scale: 0.7;
    top: -24px;
    left: -108px;
  }
  .theme-designing .container-theme .content .theme-designing-title > span {
    display: inline-block;
    text-align: center;
  }
  .theme-designing .container-theme .content .theme-designing-title > span > p {
    max-width: 500px;
    width: 95%;
  }
}
@media screen and (max-width: 712px) {
  .theme-designing .container-theme .content > h2 {
    left: -22px;
  }
  .theme-designing .container-theme .content .theme-designing-title {
    max-width: 450px;
    width: 100%;
    top: -55px;
  }
  .theme-designing .container-theme .content .theme-designing-title > p {
    width: 90%;
  }
}
@media screen and (max-width: 594px) {
  .theme-designing .container-theme .content > h2 {
    left: -68px;
  }
}
@media screen and (max-width: 546px) {
  .theme-designing .container-theme .content > h2 {
    scale: 0.6;
    left: -96px;
  }
}
@media screen and (max-width: 478px) {
  .theme-designing .container-theme .content {
    padding-bottom: 0px;
  }
  .theme-designing .container-theme .content > h2 {
    scale: 0.4;
    left: -133px;
    top: -55px;
  }
  .theme-designing .container-theme .content .theme-designing-title {
    left: 10px;
    top: -122px;
  }
  .theme-designing .theme-designing-list {
    margin-top: 30px;
  }
  .theme-designing .theme-designing-list .item {
    width: 100%;
  }
  .theme-designing .theme-designing-list .item img {
    width: 100%;
  }
  .theme-designing .theme-designing-list-container {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 447px) {
  .theme-designing .container-theme .content > h2 {
    left: -70px;
  }
  .theme-designing .container-theme .content .theme-designing-title {
    padding-inline: 15px;
  }
  .theme-designing .container-theme .content .animate-button {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 338px) {
  .theme-designing .container-theme .content > h2 {
    left: -87px;
  }
}
@media screen and (max-width: 329px) {
  .theme-designing .container-theme .content > h2 {
    left: -84px;
  }
}
@media screen and (max-width: 314px) {
  .theme-designing .container-theme .content > h2 {
    scale: 0.3;
  }
  .theme-designing .theme-designing-list #show-more {
    gap: 10px;
  }
  .theme-designing .theme-designing-list #show-more > span {
    letter-spacing: 3px;
    font-size: 8px;
  }
}

.theme-detail {
  width: 100%;
  background-image: url("../images/background-theme.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: rgb(2, 21, 55);
  padding-bottom: 60px;
}
.theme-detail .container-line {
  padding-top: 151px;
  margin-inline: auto;
  max-width: 1360px;
  width: 100%;
}
.theme-detail .container-line .line {
  border: 1px solid #133670;
}
.theme-detail > .btn-theme {
  margin: 107px auto 0 auto;
  gap: 20px;
}
.theme-detail > h2 {
  font-weight: 600;
  font-size: 42px;
  margin-top: 37px;
  text-align: center;
}
.theme-detail > p {
  margin: 18px auto 0 auto;
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  max-width: 893px;
  width: 100%;
  text-align: center;
}
.theme-detail .theme-detail-slider {
  max-width: 1358px;
  width: 100%;
  margin: 63px auto 0 auto;
}
.theme-detail .theme-detail-slider > img {
  width: auto;
  height: 416px;
}
.theme-detail .theme-detail-slider .theme-detail-slick .slick-slide {
  transform: scale(0.8);
  transition: all 0.4s ease-in-out;
  padding: 40px 0;
  height: 100%;
}
.theme-detail .theme-detail-slider .slick-slide img {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
}
.theme-detail .theme-detail-slider .slick-center {
  transform: scale(1.15);
}
.theme-detail .theme-detail-slider .carousel-slide {
  height: 100vh;
}
.theme-detail .container-contact {
  max-width: 893px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theme-detail .container-contact > .price {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-top: 67px;
}
.theme-detail .container-contact > .btn-contact {
  background-color: #0096ff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  padding: 20px 60px;
  margin: 30px auto 0 auto;
  color: #fff;
  transition: all 1s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.theme-detail .container-contact > .btn-contact::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(48, 120, 214, 0.9), transparent);
  transition: all linear 0.5s;
}
.theme-detail .container-contact > .btn-contact:hover {
  background-color: #fff;
  color: #0096ff;
}
.theme-detail .container-contact > .btn-contact:hover::before {
  left: 100%;
}
.theme-detail .container-contact > p {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 55px;
  text-align: center;
  line-height: 30px;
}
.theme-detail .group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 68px;
  column-gap: 50px;
  max-width: 1358px;
  width: 100%;
  margin: 71px auto 0 auto;
}
.theme-detail .group > .item {
  width: 262px;
  height: 80px;
  display: flex;
  gap: 12px;
}
.theme-detail .group > .item > img {
  width: 26px;
  height: 26px;
}
.theme-detail .group > .item > .text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.theme-detail .group > .item > .text > .title {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #749adb;
  letter-spacing: 2px;
}
.theme-detail .group > .item > .text > .content {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.015em;
}

@media screen and (max-width: 1378px) {
  .theme-detail .group {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 1220px) {
  .theme-detail .group {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1128px) {
  .theme-detail > h2 {
    padding-inline: 15px;
  }
  .theme-detail > p {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 914px) {
  .theme-detail .group {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 604px) {
  .theme-detail .group {
    column-gap: 24px;
  }
  .theme-detail .container-contact > p {
    padding-inline: 15px;
  }
}
@media screen and (max-width: 572px) {
  .theme-detail .group {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    row-gap: 27px;
  }
}
@media screen and (max-width: 401px) {
  .theme-detail .container-contact .btn-contact {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 334px) {
  .theme-detail .container-contact .btn-contact {
    font-size: 15px;
  }
  .theme-detail .container-contact > p {
    font-size: 14px;
  }
}
@media screen and (max-width: 280px) {
  .theme-detail .container-contact .btn-contact {
    font-size: 14px;
  }
}
.screenshot {
  background-color: #050b25;
  width: 100%;
  padding-bottom: 136px;
}
.screenshot-container {
  max-width: 1210px;
  width: 100%;
  padding-top: 95px;
  margin-inline: auto;
  position: relative;
}
.screenshot-container > h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 0.015em;
  text-align: center;
}
@media screen and (max-width: 801px) {
  .screenshot-container > p {
    padding: 0 10px;
  }
}
.screenshot-container > p {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  line-height: 30px;
  margin: 10px auto 0 auto;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 793px;
  width: 100%;
}
.screenshot-container-list {
  margin-top: 62px;
  width: 97%;
}
.screenshot-container-list .slick-slide {
  width: 370px;
  margin-right: 25px;
}
.screenshot-container-list .slick-slide > div {
  margin-bottom: 25px;
}
.screenshot-container-list .slick-slide img {
  max-width: 370px;
  height: 270px;
  cursor: pointer;
}
.screenshot-container .arrow-prev {
  position: absolute;
  top: 50%;
  left: -100px;
  cursor: pointer;
  display: none;
}
.screenshot-container .arrow-next {
  position: absolute;
  top: 50%;
  right: -65px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1432px) {
  .screenshot .arrow-prev {
    left: -46px;
  }
  .screenshot .arrow-next {
    right: 3px;
  }
}
@media screen and (max-width: 1296px) {
  .screenshot .screenshot-container-list {
    width: 96%;
  }
}
@media screen and (max-width: 679px) {
  .screenshot .screenshot-container-list {
    padding-left: 10px;
  }
}

.mobile-first {
  background-color: #0c024c;
  position: relative;
  height: 750px;
}
.mobile-first-container {
  padding-top: 136px;
  padding-left: 120px;
  width: 497px;
  z-index: 3;
  position: relative;
}
.mobile-first-container > span {
  background-color: #0096ff;
  padding: 7px 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.mobile-first-container > h2 {
  margin-top: 5px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.015em;
  line-height: 60px;
}
.mobile-first-container > p {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 5px;
  text-align: left;
}
.mobile-first-container > .available {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  line-height: 15px;
  margin-top: 30px;
}
.mobile-first-container .group {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.mobile-first-container .group > .item {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #170a64;
  border: 1px solid #5f54a2;
}
.mobile-first > .img {
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 1023.98px) {
  .mobile-first > .img {
    scale: 0.6;
    right: -188px;
    top: 151px;
  }
}
@media only screen and (max-width: 767.98px) {
  .mobile-first > .img {
    scale: 0.4;
    right: -287px;
    top: 225px;
  }
}
@media screen and (max-width: 580px) {
  .mobile-first-container {
    padding-left: 46px;
  }
}
@media screen and (max-width: 518px) {
  .mobile-first-container {
    padding-left: 39px;
  }
}
@media screen and (max-width: 508px) {
  .mobile-first-container {
    padding-left: 11px;
    width: 448px;
  }
  .mobile-first > .img {
    scale: 0.3;
    right: -335px;
    top: 262px;
  }
}
@media screen and (max-width: 454px) {
  .mobile-first-container {
    width: 410px;
  }
}
@media screen and (max-width: 424px) {
  .mobile-first-container {
    width: 366px;
  }
}
@media screen and (max-width: 366px) {
  .mobile-first-container {
    width: 277px;
  }
}

.footer {
  background-image: url("../images/footer.png");
  width: 100%;
  padding-bottom: 34px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container .footer-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 120px;
  text-align: center;
}
.footer-container p {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  text-align: center;
}
.footer-container .footer-group {
  margin-top: 39px;
  display: flex;
  gap: 52px;
}
.footer-container .footer-group .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  border: 1px solid #98a9ec;
  padding: 21px 60px 16px 60px;
  border-radius: 5px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.footer-container .footer-group .item:hover {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.footer-container .copy-right {
  font-size: 18px;
  font-weight: 275;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 123px;
}
@media only screen and (max-width: 991.98px) {
  .footer-container {
    padding-inline: 12px;
  }
}
@media screen and (max-width: 540px) {
  .footer .footer-group {
    flex-direction: column;
  }
}

.social-icon {
  display: flex;
  gap: 34px;
  margin-top: 19px;
}
.social-icon svg {
  transition: 0.5s ease;
}
.social-icon svg:hover {
  transform: rotate(360deg) translateY(-3px) scale(1.5);
}
.social-icon svg:hover.facebook path {
  fill: #1877f2;
}
.social-icon svg:hover.youtube path {
  fill: #ff0000;
}
.social-icon svg:hover.tiktok path {
  fill: #000;
}

/*# sourceMappingURL=style.css.map */
