@charset "UTF-8";
header {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
}
header .header-container {
  max-width: 1361px;
  width: 100%;
  height: 92px;
  margin: 0 auto;
}
@media (max-width: 1440.98px) {
  header .header-container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1232px) {
  header .header-container {
    max-width: 1000px;
  }
}

.list-header {
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
  align-items: flex-start;
}
.list-header .list-header-itemLeft {
  font-size: 13px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.list-header .burger {
  width: 34px;
  height: 34px;
  pointer-events: none;
}
.list-header svg {
  width: 100%;
  height: 100%;
}
.list-header #nav-burger-circle {
  fill: none;
  stroke: #fff;
}
.list-header .nav-burger-line {
  fill: #fff;
}

.wrapper-intro {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-wrapper {
  width: 80%;
  padding-top: 19%;
  margin: 0 auto;
  position: relative;
  display: flex;
}
.home-wrapper .home-wrapperLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home-wrapper .home-wrapperLeft .text-1 {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}
.home-wrapper .home-wrapperLeft .text-2 {
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
}
.home-wrapper .home-wrapperLeft .text-2 > .real {
  font-size: 150px;
  line-height: 0.8;
}
.home-wrapper .home-wrapperLeft .text-3 {
  font-size: 24px;
  text-align: end;
}
.home-wrapper .home-wrapperLeft .text-3 > span {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-left: 12px;
}
.home-wrapper .home-wrapperRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 120px;
}
.home-wrapper .home-wrapperRight .btn-theme {
  margin-top: 22px;
}
.home-wrapper .line {
  width: 122px;
  height: 0px;
  transform: rotate(90deg);
  border: 1px solid #fff;
  position: absolute;
  top: 70%;
  left: 50%;
}

.overlay {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #050b25;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .overlay-container {
  width: 80%;
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.overlay .overlay-container .item {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 48px;
  display: inline;
}
.overlay .overlay-container .item span {
  padding-left: 40px;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: 1s;
  cursor: pointer;
}
.overlay .overlay-container .item span:hover {
  color: red;
}

.reveal-text {
  animation: reveal 3s forwards;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@media screen and (max-width: 2048px) {
  .home-wrapper {
    padding-top: 30%;
  }
}
@media screen and (max-width: 773px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .home-wrapper .home-wrapperLeft {
    width: 100%;
  }
  .home-wrapper .home-wrapperLeft .text-3 {
    text-align: center;
  }
  .home-wrapper .line {
    left: auto;
    width: 300px !important;
    transform: rotate(0);
  }
  .home-wrapper .home-wrapperRight {
    padding-left: 0;
    width: 60%;
    padding-top: 12px;
  }
}
@media only screen and (max-width: 480.98px) {
  .home-wrapper {
    flex-direction: column;
    gap: 12px;
  }
  .home-wrapper .line {
    display: none;
  }
  .home-wrapper .home-wrapperRight {
    width: 95%;
    padding-top: 8px;
  }
}
@media only screen and (max-width: 391.98px) {
  .home-wrapper {
    padding-top: 25%;
    width: 95%;
    gap: 0;
  }
  .home-wrapper .line {
    display: none;
  }
  .home-wrapper .home-wrapperLeft {
    gap: 8px;
  }
  .home-wrapper .home-wrapperLeft .text-2 {
    font-size: 80px;
  }
  .home-wrapper .home-wrapperLeft .text-2 > .real {
    font-size: 110px;
    line-height: 0.4;
  }
  .home-wrapper .home-wrapperLeft .text-3 {
    font-size: 20px;
  }
  .home-wrapper .home-wrapperLeft .text-3 > span {
    font-size: 28px;
  }
  .home-wrapper .home-wrapperRight {
    padding-top: 4px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100vh;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

.btn-theme {
  width: 228px;
  height: 48px;
  text-transform: uppercase;
  border-radius: 3px 30px 3px 30px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-theme:hover {
  background-image: linear-gradient(to right, #ff416c, #ff4b2b);
  border-color: transparent; /* Tùy chọn: Nếu bạn muốn loại bỏ đường viền khi hover */
}

/** styling mobile nav **/
.nav {
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #050b25;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}

.nav li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li a {
  font-size: 50px;
  line-height: 1.8;
  display: inline-block;
  color: white;
  opacity: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  transform: translateY(-40px);
}

.nav li a:hover {
  letter-spacing: 3px;
  transform: scale(1.08);
}

ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 160px;
  row-gap: 30px;
}

.about {
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}
.about .about-left {
  width: 50%;
  background-image: url("../images/split_left.png");
}
.about .about-left .container-about-left {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  width: 60%;
  margin-inline: auto;
  gap: 22px;
}
.about .about-left .container-about-left .about-design {
  padding-top: 4px;
}
.about .about-left .container-about-left .about-text-left {
  position: relative;
}
.about .about-left .container-about-left .design {
  position: absolute;
  top: 20px;
  left: 130px;
}
.about .about-left .container-about-left .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  padding-top: 22px;
}
.about .about-left .container-about-left .about-design {
  display: flex;
  gap: 18px;
}
.about .about-left .container-about-left .about-design .about-design-text {
  width: 50%;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.about .about-right {
  width: 50%;
  height: 100%;
  background-image: url("../images/split_right.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.about .about-right .circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.about .about-right .like {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 480.98px) {
  .about {
    flex-direction: column;
  }
  .about .about-left {
    width: 100%;
    height: 60%;
  }
  .about .about-left .container-about-left {
    width: 90%;
    margin-top: 25%;
  }
  .about .about-left .container-about-left .about-text-left .app {
    scale: 0.7;
  }
  .about .about-left .container-about-left .about-text-left .design {
    scale: 0.7;
    top: 15px;
    left: 60px;
  }
  .about .about-left .container-about-left .about-text-left .about-design {
    padding-top: auto;
  }
  .about .about-right {
    width: 100%;
    height: 100%;
  }
}
.web-design {
  background-color: #050b25;
  position: relative;
}
.web-design .container-image {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.web-design .container-image .line {
  position: absolute;
  bottom: 0;
  left: 0;
}
.web-design .container-image .plan {
  position: absolute;
  bottom: 8%;
  left: 281px;
}
.web-design .container-image .book {
  position: absolute;
  left: 551px;
  bottom: 140px;
}
.web-design .container-text {
  position: relative;
  top: 30%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 55%;
  gap: 23px;
}
.web-design .container-text .text-image .design {
  position: absolute;
  top: 20px;
  left: 245px;
}
.web-design .container-text .text-image .web {
  position: absolute;
  top: 0;
  left: 0;
}
.web-design .container-text .text {
  text-align: end;
  margin-top: 150px;
  margin-right: 200px;
  font-size: 24px;
  padding-right: 12px;
}
.web-design .container-text .text span {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}
.web-design .container-text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 494px;
  text-align: right;
}

.app-design {
  display: flex;
  position: relative;
}
.app-design .app-design-left {
  width: 50%;
  background-image: url("../images/split_left.png");
}
.app-design .app-design-right {
  width: 50%;
  background-image: url("../images/app-design/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.app-design .app-design-right::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/app-design/fill-bg.png");
  z-index: 1;
}
.app-design .app-design-content {
  position: absolute;
  max-width: 1361px;
  width: 100%;
  z-index: 2;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 230px;
}
.app-design .app-design-content .app-design-container {
  position: relative;
  width: 62%;
}
.app-design .app-design-content .app-design-container .app-design-content__text {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.app-design .app-design-content .app-design-container .app-design-content__text > span {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}
.app-design .app-design-content .app-design-container .app-design-content__text > span > span {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 12px;
}
.app-design .app-design-content .app-design-container .app-design-content__text p {
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}
.app-design .app-design-content .design {
  position: absolute;
  left: 215px;
  top: 30px;
}
.app-design .app-design-content .design__text {
  margin-top: 160px;
}

.software {
  display: flex;
  position: relative;
}
.software-left {
  width: 50%;
  height: 100%;
  background-color: #01142e;
}
.software-right {
  width: 50%;
  height: 100%;
  background: #050b25;
}
.software .content {
  position: absolute;
  max-width: 1361px;
  width: 100%;
  top: 230px;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.software .content .light {
  font-size: 140px;
  line-height: 0.6;
  font-size: 140px;
  font-weight: 800;
  text-transform: uppercase;
}
.software .content .dark {
  font-size: 160px;
  line-height: 0.6;
  color: transparent;
  -webkit-text-stroke: 1px white;
  margin-left: 197px;
  font-size: 160px;
  font-weight: 800;
  text-transform: uppercase;
}
.software .content p {
  margin-left: 204px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  width: 586px;
  line-height: 30px;
}
.software .content .image {
  width: 420px;
  height: 420px;
  position: absolute;
  right: 40px;
  top: 160px;
}
@media (max-width: 1440.98px) {
  .software .content .image {
    width: 300px;
    height: 300px;
    right: 200px;
  }
  .software .content .dark {
    line-height: 0.7;
    margin-left: 180px;
    font-size: 150px;
  }
  .software .content .light {
    font-size: 130px;
  }
}
@media only screen and (max-width: 1399.98px) {
  .software .content .light {
    font-size: 120px;
  }
  .software .content .dark {
    font-size: 100px;
  }
}
@media screen and (max-width: 1250px) {
  .software .content p {
    margin-left: 120px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .software .content .light {
    margin-left: 30px;
    font-size: 120px;
  }
  .software .content .dark {
    font-size: 100px;
    margin-left: 110px;
  }
  .software .content p {
    width: 420px;
    font-size: 14px;
  }
  .software .content .image {
    right: 110px;
  }
}
@media only screen and (max-width: 991.98px) {
  .software .content p {
    line-height: 24px;
    width: 410px;
  }
}
@media screen and (max-width: 942px) {
  .software .content .light {
    font-size: 100px;
  }
  .software .content .dark {
    font-size: 80px;
    margin-left: 130px;
  }
  .software .content .image {
    top: 120px;
  }
  .software .content p {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 576.98px) {
  .software .content .light {
    font-size: 50px;
    margin-left: 20px;
  }
  .software .content .dark {
    font-size: 30px;
    margin-left: 80px;
  }
}
@media only screen and (max-width: 480.98px) {
  .software .content .dark {
    margin-left: 20px;
  }
  .software .content p {
    margin-left: 20px;
    width: 320px;
    margin-top: 18px;
  }
  .software .content .image {
    scale: 0.5;
    right: 0px;
    top: 160px;
  }
}

.theme_design {
  position: relative;
  background-image: url("../images/theme_design/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.theme_design .fill {
  position: absolute;
  bottom: 0;
  left: 0;
}
.theme_design .content {
  position: absolute;
  max-width: 1361px;
  width: 100%;
  top: 230px;
  margin: 0 auto;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.theme_design .content .light {
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
}
.theme_design .content .dark {
  font-size: 120px;
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  top: 90px;
  left: -195px;
}
.theme_design .theme-list {
  position: absolute;
  top: 502px;
  display: flex;
  flex-direction: row;
  gap: 23px;
  left: 430px;
}
.theme_design .theme-list .list-item {
  display: flex !important;
  flex-direction: column !important;
  width: 369px;
  height: 369px;
}
.theme_design .theme-list .list-item .image {
  width: 369px;
  height: 250px;
}
.theme_design .theme-list .list-item .theme-device {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #bbbbf6;
  margin-top: 24px;
}
.theme_design .theme-list .list-item .theme-title {
  font-weight: 400;
  margin-top: 5px;
}
.theme_design .theme-list .list-item .price {
  margin-top: 15px;
  color: #fff;
  font-weight: 700;
}
.theme_design .theme-list .swiper-container {
  width: 600px;
  height: 300px;
}
.theme_design .theme-list .slick-slide {
  width: 369px;
  height: 420px;
  box-sizing: border-box;
  margin-right: 23px;
}

.contact {
  background-image: url("../images/contact/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contact-container {
  max-width: 1361px;
  width: 100%;
  position: relative;
  top: 224px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container span {
  background-color: #0096ff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 10px;
}
.contact-container > h2 {
  font-weight: 600;
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}
.contact-container > p {
  font-weight: 275;
  font-size: 18px;
  max-width: 893px;
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-top: 29px;
}
.contact-container-group {
  display: flex;
  margin-top: 59px;
  gap: 52px;
}
.contact-container-group .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  border: 1px solid #98a9ec;
  padding: 21px 60px 16px 60px;
  border-radius: 5px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.contact-container-group .item:hover {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.contact-container .copy-right {
  margin-top: 211px;
}
.contact-container .social-icon {
  display: flex;
  gap: 34px;
  margin-top: 21px;
}

@media only screen and (max-width: 480.98px) {
  .contact-container {
    top: 130px;
  }
  .contact-container .copy-right {
    margin-top: 60px;
    padding-inline: 5px !important;
  }
  .contact-container > p {
    width: 95%;
  }
  .contact-container .contact-container-group {
    margin-top: 45px;
  }
  .contact-container .contact-container-group .item {
    padding: 14px 24px 12px 24px;
  }
}

/*# sourceMappingURL=style.css.map */
